@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* padding: 1em; */
    background-color: #181719;
    color: #fff;
    font-size: 10px;
}

header{
    padding: 1em;
}

.logo{
    font-family: 'Crimson Pro', serif;
    border: 1px solid #fff;
    display: inline-block;
    width: fit-content;
    padding: 0.5em 0.8em;
}

.logo__title{
    text-transform: uppercase;
    font-size: 1.4rem;
}

.header{
    position: relative;
}
.nav-toggle{
    padding: 1em;
    position: absolute;
    right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hamburger{
    position: relative;
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #ffffff;
}

.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    margin: 0.5em 0em;
}

.hamburger::before{
    top: 1px;
}

.hamburger::after{
    bottom: 1px;
}

.nav{
    background-color: #ffffff;
    color: #000000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transform: translateX(100%);
}


img{
    width: 100%;
}

.container{
    padding: 1em;
    padding-bottom: 10em;
}

.info{
    font-family: 'Lora', serif;
}

.title{
    font-size: 2.2rem;
    line-height: 2.4rem;
}

.info__para{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: 1.2em 0em;
    line-height: 1.7rem;
    width: 60%;
}

.info__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.7rem;
}

.info__img{
    margin: 2em 0em;
    margin-bottom: 4em;
}

.img__info{
    position: relative;
    width: 95%;
}

.img__section{
    display: inline-block;
    position: relative;
}

.card__title{
    position: absolute;
    top: 12px;
    left: 70px;
}

.card__subtitle{
    position: absolute;
    top: 30px;
    left: 70px;
    color: #828282;
}

.card__img{
    border-radius: 50%;
    width: 50px;
}

.card{
    background-color: #181719;
    position: absolute;
    width: 260px;
    padding: 1em;
    top: 560px;
    left: 45px;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card__body{
    padding: 0.5em 0em;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 24px;
}

.card__para{
    padding-right: 1em;
}